/*set the body*/

body {
    margin: 0;
    background-image: url(background2.jpg);
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}


/*let the section id left display on left*/

section#left {
    min-height: 40em;
    margin-top: 5vw;
    float: left;
    padding-bottom: 5vw;
    width: 30%;
}


/*let the section in center display on center*/

section#center {
    min-height: 40em;
    margin-top: 5vw;
    float: left;
    padding-bottom: 5vw;
    width: 70%;
}


/*set the design of comment button*/

#comment {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 1.5vw;
    cursor: pointer;
    background-color: rgb(89, 0, 92);
}

#comment:hover {
    background: rgb(247, 0, 255);
}


/*set the design of oder button*/

#oderlist {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 1.5vw;
    cursor: pointer;
    background-color: rgb(117, 0, 0);
}

#oderlist:hover {
    background: rgb(255, 0, 0);
}


/*set the design of image display */

.image {
    display: block;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 90%;
    height: 90%;
    border: black solid;
}

h1 {
    font-size: 3vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 0px 0px 5px black;
}

p {
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 0px 0px 5px black;
}


/*set the design of read moer button*/

.read {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 1.5vw;
    cursor: pointer;
    background-color: rgb(0, 114, 6);
}

.read:hover {
    background: rgb(0, 255, 13);
}


/*let the id more no display*/

#more {
    display: none;
}


/*set the leyout of footer*/

footer {
    left: 0;
    bottom: 0;
    height: 18.5vw;
    width: 100%;
    float: left;
    background: linear-gradient(#f13216, #000000 15%);
    color: white;
    text-align: center;
}